<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Log in</title>
  </head>
  <body class="bg-nav">
    <nav class="navbar">
        <a href="" class="navbar-brand text-light">Face M@SK Detection System</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="text-light display-4 mt-80" style="font-size:60px">Welcome to Face M@sk Detection System:</h1>
                <h1 class="text-light display-4 mt-50" style="font-size:35px">Here you can detect people wearing Mask or not through LIVE video tracking.</h1>
                <h1 class="text-light display-4 mt-80" style="font-size:35px">Let's check it out !!</h1>

            </div>
            <div class="col-md-4">
                <div class="card mt-100">
                    <div class="card-body">
                        <form class="form" method="post" action="/login_validation">
                            <label>Email</label><br>
                            <input type="email" class="form-control" name="email"><br>
                            <label>Password</label><br>
                            <input type="password" class="form-control" name="password"><br>
                            <input type="submit" class="btn btn-success btn-block login-btn" value="Login">
                        </form>
                       <p class="mt-2">Not a member? <a href="/register">Create Account</a></p>
                        <a href="/forget" class="pull-right text-danger">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>